@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(/assets/fonts/Roboto-Regular.ttf) format('woff2')

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: url(/assets/fonts/Roboto-Bold.ttf) format('woff2')


html
  background: white
  font-family: Roboto
  overflow-x: hidden

body
  margin: 0
  overflow-x: hidden
  overflow-y: hidden

  & *
    overflow: visible

header.main-header
  background-color: black


// ------- //
// ^HEADER //
// ------- //

.left-cell-logo
  height: 100%
  width: 40%
  img
    filter: brightness(50)

.main-header
  width: 100%
  top: 0
  position: fixed
  display: flex
  box-sizing: border-box
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 0 50px
  z-index: 1000
  color: white
  height: 80px

  font-size: 20pt
  @media (max-width: 1100px)
    font-size: 16pt

  @media (max-width: 780px)
    height: 50px
    padding: 0 20px

  .top-left-cell
    box-sizing: border-box
    height: 100%
    width: 310px

    @media (max-width: 780px)
      width: 100px

    img
      width: 150px
      transform: translateY(-27px)
      @media (max-width: 1100px)
        width: 125px
        // transform: translateY(-30px)

      @media (max-width: 780px)
        transform: translateY(-40px)
        width: 100px

  .top-center-cell
    width: 30%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-content: center
    justify-content: center
    color: white
    @media (max-width: 1000px)
      width: auto

    & > a
      text-decoration: none
      color: white
  
  nav.top-right-cell
    display: flex
    width: 310px
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-end
    align-content: center

    & > .nav-item
      position: relative
      margin-right: 15px
      cursor: pointer

    @media(max-width: 1000px)
      display: none

@keyframes arrow
  0%
    opacity: 0
  5%
    opacity: 1
  10%
    opacity: 0

// ----- //
// ^MAIN //
// ----- //
main
  background-color: black
  width: 100%
  height: calc(100vh - 80px)
  top: 80px
  position: fixed
  color: white
  z-index: 1
  @media (max-height: 780px)
    position: relative
  @media (max-width: 780px)
    top: 49px
    margin-bottom: 49px
    height: calc(100vh - 40px)

  & > .arrows-up
    position: absolute
    bottom: 10px
    left: 50%
    transform: translateX(-50%)
    display: flex
    flex-direction: column
    @media (max-height: 780px)
      display: none
    .arrow
      position: relative
      width: 10px
      height: 15px
      opacity: 0
      animation: 8s ease-in 1s infinite arrow

      &.arrow-1
        animation-delay: 1.4s

      &.arrow-2
        animation-delay: 1.2s

      &.arrow-3
        animation-delay: 1.0s
      &::after,
      &::before
        content: ''
        position: absolute
        top: 0
        width: 25px
        height: 5px
        background: white
        transform: translateX(calc(50% - 3px)) rotate(30deg)

      &::after
        transform: translateX(calc(-50% + 3px)) rotate(-30deg)


main > .background-car 
  position: absolute
  width: 100%
  background-image: url('/assets/media/background-car.webp')
  background-position: center center
  background-size: contain
  background-repeat: no-repeat
  z-index: 0
  min-height: 500px
  height: 600px
  max-height: 65vh


main > .title 
  position: relative
  width: 100%
  display: flex
  justify-content: center
  text-align: center
  font-size: 20pt
  @media (max-width: 1100px)
    font-size: 17pt
  @media (max-width: 780px)
    font-size: 14pt
  @media (max-width: 600px)
    font-size: 10pt
    padding-top: 50px
  z-index: 1


main > .title > h1 
  text-align: center
  z-index: 2

main > .button-wrapper
  appearance: none
  display: flex
  justify-content: center
  z-index: 23
  position: absolute
  width: 100% 
  height: 60px
  top: 64%
  @media (max-width: 860px)
    top: unset
    bottom: 100px
    height: 50px
    font-size: 10pt

main > .button-wrapper > .details-link
  padding: 0 50px
  border-radius: 8px
  color: black
  text-decoration: none
  background: white
  cursor: pointer
  display: flex
  align-items: center
  font: 1.2em "Fira Sans", sans-serif

  &:hover
    background: #e6e6e6

main > .info-row
  box-sizing: border-box
  width: 100%
  padding: 0 50px

  display: flex
  justify-content: space-between

  position: absolute
  bottom: 50px

  @media (max-width: 860px)
    display: none

  & > .info-box
    box-sizing: border-box
    display: flex

    & > .box-line-1
      width: 7px
      height: 80px

    & > .box-line-2
      width: 3px
      height: 50px

    & > .box-line-1, & > .box-line-2
      margin: 0 2px
      background: #161616
      flex-shrink: 0

    &:not(.center-box) > .box-content
      background: #161616
      width: 270px

    & > .box-content
      display: flex
      flex-direction: column
      padding: 10px

    &.center-box
      text-align: center

    &.left-box
      text-align: left

    &.right-box
      text-align: right

    .number
      font-size: 30pt

    .description
      font-size: 15pt



// --------- //
// ^SERVICES //
// --------- //
.services 
  position: relative
  margin-top: 100vh
  @media (max-width: 780px)
    margin-top: 100vh
  @media (max-height: 780px)
    margin-top: 80px
  @media (max-width: 780px) and (max-height: 780px)
    margin-top: 80px
  background: white
  z-index: 2
  padding-bottom: 200px

.services-box
  box-sizing: border-box
  width: 100%
  height: auto
  padding: 50px 0px 150px

  @media (max-width: 780px)
    padding-bottom: 10vw

.services > .services-box > .services-box-header
  position: relative
  display: flex
  flex-direction: column
  flex-wrap: wrap
  justify-content: flex-start
  align-items: center
  align-content: center
  margin-bottom: 100px
  @media (max-width: 780px)
    margin-bottom: 60px

  & > h2.description
    position: relative
    font-size: 300%
    display: flex
    font-weight: 500
    justify-content: center

    &::after
      position: absolute
      content: ''
      background: black
      width: 80%
      height: 3px
      bottom: -8px

.services > .services-box > .services-box-header > span
  font-size: 40pt
  @media (max-width: 780px)
    font-size: 30pt

.services-box-main
  width: 100%
  height: auto
  top: 15%
  box-sizing: border-box
  display: flex
  align-items: center
  justify-content: center
  position: relative

  @media (max-width: 1000px)
    flex-direction: column

  & > .services-field
    box-sizing: border-box
    width: 30%
    max-width: 320px
    height: 560px

    
    @media (max-width: 1000px)
      width: 320px


    padding: 30px 15px
    margin: 0 15px 30px
    
    border-radius: 5px
    border-color: #cccccc
    border-width: 1px
    border-style: solid
    
    color: black
    text-align: center
    background: #f5f5f5
    
    
    display: flex
    flex-direction: column
    align-items: center

    &:nth-of-type(2)
      height: 580px
      border-color: #4caf50

    & > .field-title
      font-size: 18pt

    & > .content
      height: 100%
      flex-shrink: 2

      & > .short-description
        color: #6d6d6d
        font-size: 10pt
        margin-top: 5px
        margin-bottom: 30px

      & > .cost
        font-size: 24pt
        font-weight: bold

      & > .benefits
        color: #555555
        & > .benefits-item
          margin-top: 20px

    & > .order-button
      height: 50px
      background: #2e7d32
      color: white
      display: flex
      justify-content: center
      align-items: center
      padding: 0 30px
      cursor: pointer
      transition: all 75ms ease-in-out
      border-radius: 5px
      &:hover
        background: #388e3c

.services-box-header
  width: 100%
  height: 15%

.services-box-content
  width: 100%
  height: 85%



// --------- //
// ^GUARANTEE //
// --------- //
.guarantee
  position: relative
  z-index: 3
  color: white

.guarantee-box
  width: 100%
  display: flex
  position: relative
  height: auto
  background-color: #4caf50
  justify-content: center
  flex-wrap: wrap

  @media (max-width: 820px)
    flex-direction: column
    align-items: center

    .guarantee-box-header
      font-size: 30pt
      margin-bottom: 50px

      @media (max-width: 780px)
        font-size: 26pt

      @media (max-width: 420px)
        font-size: 23pt

      @media (max-width: 350px)
        font-size: 20pt

    .guarantee-list
      width: 100%
      margin: 0

    .gl-lawyer
      position: relative
      margin-bottom: 70px
      &::after
        content: ""
        position: absolute
        width: 100%
        height: 2px
        background: #388e3c
        bottom: -30px
        max-width: 300px
        left: 50%
        transform: translateX(-50%)


.guarantee-box::before
  display: block
  content: ""
  width: 220%
  height: calc(100% + 25vw)
  position: absolute
  left: -60%
  top: 50%
  transform-origin: center center
  transform: translateY(-50%) rotate(10deg)
  background-color: #4caf50
  z-index: -1

.guarantee-box-header
  width: 100%
  display: flex
  height: 20%
  justify-content: center
  font-size: 30pt
  margin-bottom: 100px

  @media (max-width: 780px)
    font-size: 26pt

  @media (max-width: 420px)
    font-size: 23pt

  @media (max-width: 350px)
    font-size: 20pt

.guarantee-list
  box-sizing: border-box
  width: 40%
  max-width: 450px
  height: 80%
  display: flex
  flex-direction: column
  align-content: center
  align-items: center
  text-align: center
  margin: 0 40px
  padding: 0 10px

  & > .guarantee-logo
    margin-bottom: 50px
    & > img
      width: 90px

  & > .guarantee-title
    font-size: 19pt
    margin-bottom: 20px
    

    @media (max-width: 780px)
      font-size: 18pt

    @media (max-width: 420px)
      font-size: 16pt

    @media (max-width: 350px)
      font-size: 14pt

  & > .guarantee-descr
    font-size: 11pt
    

    @media (max-width: 780px)
      font-size: 10.5pt

    @media (max-width: 420px)
      font-size: 10pt

    @media (max-width: 350px)
      font-size: 9pt




.check-placer
  display: none
  height: calc(100vh + 30vw + 150px)
  @media (min-height: 900px) and (min-width: 1000px)
    display: block

.check
  box-sizing: border-box
  padding: 200px 30px calc(200px + 10vw)
  background: white
  position: relative
  z-index: 2
  // color: #1c1c1c

  @media (max-height: 700px)
    position: relative

  & > .check-header
    height: 15%
    width: 100%
    display: flex
    justify-content: center
    flex-direction: row
    align-content: center
    flex-wrap: wrap
    font-size: 150%

    @media (max-width: 780px)
      font-size: 110%

    @media (max-width: 420px)
      font-size: 90%

    @media (max-width: 350px)
      font-size: 75%

    @media (max-width: 320px)
      font-size: 70%
    
  & > .check-box
    display: flex
    width: 100%
    position: relative
    height: 90%
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
    align-items: center

    & > .check-column:nth-of-type(2)
      display: none
      height: 100%
      width: 45%
      align-content: center
      flex-direction: column
      justify-content: center
      flex-wrap: wrap
      
      & > img
        filter: brightness(1.2) hue-rotate(50deg)
        max-width: 550px
        z-index: -1
        transform: rotate(-90deg)

    & > .check-column:nth-of-type(2n - 1)
      height: 100%
      width: 100%
      max-width: 400px
      & > .check-block
        width: 100%
        height: 33%
        text-align: center
        display: flex
        flex-direction: column
        justify-content: center
        text-align: left
        margin-top: 50px
        & > .check-logo
          display: flex
          align-items: center
          justify-content: flex-start
          flex-direction: row
          font-size: 16pt
          margin-bottom: 8px
          white-space: nowrap
          font-weight: bold
          & > img
            margin-right: 15px
      & > .row-block
        position: relative
        right: 50px
        & > .check-logo
          display: flex
          align-items: center

  @media (min-width: 1000px) and (min-height: 900px)
    position: fixed
    z-index: 1
    height: calc(100vh - 80px)
    padding-top: 0
    padding-bottom: 70px

    &.fixed
      top: 80px
      width: 100%

    & > .check-box
      flex-direction: row
      & > .check-column:nth-of-type(3)
        .check-logo
          flex-direction: row-reverse !important
      & > .check-column:nth-of-type(2)
        display: flex
      & > .check-column:nth-of-type(1)
        position: relative
        left: 50px
        .check-block
          text-align: right !important
      & > .check-column:nth-of-type(2n - 1)
        width: 20%
        & > .check-block 
          margin-top: 0
          & > .check-logo
            justify-content: flex-end
            & > img

.auto-selection-step
  position: relative
  background: #404040
  z-index: 2
  height: 50%
  color: white

  &::before
    display: block
    content: ""
    width: 220%
    height: calc(100% + 25vw)
    position: absolute
    left: -60%
    top: 50%
    transform-origin: center center
    transform: translateY(-50%) rotate(10deg)
    background-color: #404040
    z-index: -1

.auto-selection-field
  box-sizing: border-box
  width: 100%
  display: flex
  height: auto
  padding: 50px 0px 150px
  flex-direction: column
  align-items: center
  & > .auto-selection-header
    width: 100%
    text-align: center
    margin-bottom: 50px
    font-size: 200%
    

    @media (max-width: 780px)
      font-size: 150%

    @media (max-width: 420px)
      font-size: 100%

  & > .auto-selection-main
    display: flex
    @media (max-width: 999px)
      flex-direction: column
      display: flex
      align-items: center
    justify-content: space-evenly
    & > .arrow
      display: flex
      align-items: center
      @media (max-width: 999px)
        transform: rotate(90deg)
        margin: 50px
        
    & > :first-of-type img
      width: 110% !important

    & > .steps
      width: 20%
      max-width: 270px
      display: flex
      text-align: center
      align-items: center
      flex-direction: column
      box-shadow: 0 0 25px #000a
      background: #eee5
      border-radius: 10px
      padding: 30px 10px 20px
      @media (max-width: 999px)
        width: 80%
        text-align: center


      & > .logo
        display: flex
        justify-content: center
        align-items: center
        // border: 5px solid #8f8f8f
        border-radius: 50%
        width: 100px
        height: 100px
        padding: 15px
        background-color: white
        margin-bottom: 40px
        box-shadow: 0 0 30px 0 #00000055
        box-sizing: border-box

        & > img
          width: 100%
          filter: grayscale(1) brightness(1)

.risks
  position: relative
  background: white
  z-index: 2
  & > .risks-box
    padding: 0 20px
    height: 100%
    text-align: -webkit-center
    & > .risks-header
      width: 100%
      padding: 50px 0
      text-align: center
      font-size: 26px
      font-weight: bold
      @media (max-width: 1000px)
        font-size: 24px
      @media (max-width: 830px)
        font-size: 20px
      @media (max-width: 500px)
        font-size: 15px
      
      
    
    @media (max-width: 330px)
      & > .risks-main > .risks-content
        font-size: 10pt !important

    & > .risks-main
      width: 100%
      padding-bottom: 30px
      & > .risks-content
        display: flex
        text-align: initial
        align-items: center
        margin-bottom: 30px
        width: 100%
        max-width: 650px
        background: #eee
        padding: 7px 10px 7px 15px
        box-sizing: border-box
        border-radius: 7px
        box-shadow: 0 0 10px 0 #0004
        font-size: 12pt
        min-height: 50px

        & > .risks-number
          border-radius: 50%
          width: 7px
          height: 7px
          background: #4caf50
          flex-shrink: 0
            
        & > .risks-info
          display: flex
          padding-left: 25px
          align-items: center
          @media (max-width: 960px)
            font-size: 18px
          @media (max-width: 620px)
            font-size: 14px !important
          @media (max-width: 450px)
            font-size: 12px
  

.query-section
  box-sizing: border-box
  position: relative
  width: 100%
  padding: 100px 20px 150px

  background: #4caf50
  z-index: 3
  
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center


  & > .query-form
    @media (min-width: 780px)
      max-width: 1000px

      & > .input-wrapper
        display: flex
        justify-content: center

        & > .input, & > .confirm
          max-width: 300px
          width: 30%
          margin: 0 10px

.query-form
  box-sizing: border-box
  width: 100%
  max-width: 500px
  padding: 20px 20px
  background: white
  box-shadow: 0 0 20px 0 #2228
  border-radius: 7px

  & > .query-title
    color: #1C1C1C
    font-size: 1.6rem
    text-align: center
    margin-bottom: 30px
    position: relative

    @media (min-width: 780px)
      &::after
        content: ''
        position: absolute
        left: 20px
        width: calc(100% - 40px)
        height: 1px
        background: #CCC
        bottom: -7px

    @media (max-width: 420px)
      font-size: 1.2rem
      font-weight: bold

  & > .input-wrapper
    & > .input > input, & > .confirm
      appearance: none
      box-sizing: border-box
      background: #eee
      width: 100%
      height: 50px
      border: none
      font-size: 1rem
      padding: 0 20px
      border-radius: 7px

    & > .input, & > .confirm
      width: 100%
      margin-bottom: 20px

      &:focus
        outline: none

      &.hidden
        display: none

    & > .input
      display: flex
      flex-direction: column

      & > .error-info
        font-size: 10pt
        color: red
        margin-left: 10px

    & > .confirm
      display: flex
      justify-content: center
      align-items: center
      background: #2e7d32
      color: white
      font-weight: bold
      cursor: pointer
      & > img
        width: 40px
      &:hover
        background: #43a047

body > footer
  position: relative
  z-index: 5
  width: 100%
  height: 50px
  background: black
  color: white
  display: flex
  justify-content: center
  align-items: center

#popup
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: #000a
  opacity: 0
  transition: all 150ms linear
  z-index: 9999

  display: flex
  justify-content: center
  align-items: center

  &.hidden
    display: none

  &.show
    opacity: 1

  & > .popup-window
    position: relative
    box-sizing: border-box
    width: 320px
    padding: 15px 20px 75px
    background: white
    border-radius: 7px

    @media (max-width: 350px)
      width: 100%
      height: 100%

    &.hidden
      display: none

    & > .title
      display: flex
      width: 100%
      padding-bottom: 10px
      justify-content: center
      
      font-size: 12pt
      margin-bottom: 20px
      text-align: center
      border-bottom: 1px solid #e5e5e5

    & > .content
      font-size: 10pt
      text-align: center

    & > .button-list
      position: absolute
      left: 0
      bottom: 10px
      width: 100%
      height: 40px
      display: flex
      justify-content: center

      & > .button
        display: flex
        justify-content: center
        align-items: center
        border-radius: 7px
        min-width: 80px
        padding: 0 10px
        height: 100%
        cursor: pointer
        transition: all 75ms ease-in-out
        text-align: center

        &.access-button
          background: #4caf50
          color: white

          &:hover
            background: #43a047

          &:active
            background: #388e3c

        &.cancel-button
          color: white
          background: #9e9e9e

          &:hover
            background: #858585

          &:active
            background: #757575

#popup > .popup-form
  & > .content
    & > .query-form
      padding: 0
      box-shadow: none

      .confirm
        margin-bottom: 0